.pricing-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.pricing-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.pricing-table {
    width: 100%;
    border-collapse: collapse;
}

.pricing-table th, 
.pricing-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.pricing-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.pricing-table td img {
    width: 100px;
}

.pricing-table td strong {
    font-size: 1.2em;
}

.pricing-section p {
    margin-top: 30px;
    font-size: 1.1em;
    color: #333;
}
